@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet');
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

body {
  font-family: Poppins, sans-serif;
  margin: 0; }

.main {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  position: relative; }

.main-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.29%, #050d1d), color-stop(90.3%, rgba(5, 13, 29, 0)));
  background: -webkit-linear-gradient(top, #050d1d 11.29%, rgba(5, 13, 29, 0) 90.3%);
  background: -o-linear-gradient(top, #050d1d 11.29%, rgba(5, 13, 29, 0) 90.3%);
  background: linear-gradient(180deg, #050d1d 11.29%, rgba(5, 13, 29, 0) 90.3%);
  mix-blend-mode: normal;
  opacity: 0.6; }

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 26px;
  width: 100%;
  position: absolute;
  z-index: 2; }

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
  width: 40%; }

.nav-links a {
  color: #fff;
  text-decoration: none; }

.burger {
  display: none; }

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden; }
  .nav-links {
    position: absolute;
    right: 0px;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #000;
    top: 0;
    opacity: 0.9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    -o-transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in; }
  .nav-links li {
    opacity: 0;
    margin-top: 50px; }
  .nav-links a {
    font-size: 20px; }
  .burger {
    display: block;
    cursor: pointer; } }

.nav-active {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  -ms-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px); }

.toggle .line2 {
  opacity: 0; }

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  -ms-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px); }

.home-btn {
  border-bottom: solid 1px #fff; }

.owl-carousel {
  width: 100%;
  height: 100%; }

.owl-carousel .owl-stage-outer {
  height: 100%; }

.owl-carousel .owl-stage-outer .owl-stage {
  height: 100%; }

.owl-carousel .owl-stage-outer .owl-stage .owl-item {
  height: 100%; }

.owl-carousel .owl-nav {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1520px;
  height: 44px;
  top: calc(50% - 22px);
  padding: 0 30px; }

.owl-carousel .owl-nav button {
  background: transparent;
  border: none; }

.owl-carousel .owl-nav button .arrow {
  display: block;
  height: 44px; }

.owl-carousel .owl-nav button .arrow svg path {
  fill: silver; }

.owl-carousel .owl-nav button .disabled .arrow svg path {
  opacity: 0.6; }

.owl-carousel .owl-nav button .right-arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.owl-carousel .owl-dots {
  position: absolute; }

.item {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.item .bg {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0; }

.item .bg .player {
  width: 100%;
  height: 100%; }

.item .main-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  text-align: center; }

.item .main-text h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 100px; }

.item .main-text span {
  margin-top: 25px;
  display: inline-block;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px; }

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-top: 54px; }

.main-btn .btn {
  background: #00a031;
  border-radius: 27px;
  width: 172px;
  height: 54px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1px;
  font-family: "Gilroy ExtraBold", sans-serif;
  font-weight: bold;
  color: #fff;
  border: none; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff; }

.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1206px; }

.service-item {
  margin-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 75px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  margin-right: 50px;
  padding-left: 83px;
  background: url(../img/circle-img.svg) no-repeat; }

.phone-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 140px;
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  transform: translateY(3px);
  -webkit-transform: translateX(-33px);
  -ms-transform: translateX(-33px);
  transform: translateX(-33px); }

.right {
  margin-top: 179px;
  margin-left: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 50%; }

h2 {
  color: #00a031; }

.right button {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 208px;
  height: 54px;
  background: transparent;
  color: #00a031;
  border: 2px solid #00a031;
  border-radius: 28px;
  font-family: "Gilroy ExtraBold", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center; }

.check-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.descr,
.p-item,
i {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #6c6c6c; }

.reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 0;
  margin-right: 75px; }

.reverse .phone-img {
  -webkit-transform: rotate(12deg) translate(-33px, 5px);
  -ms-transform: rotate(12deg) translate(-33px, 5px);
  transform: rotate(12deg) translate(-33px, 5px); }

@media screen and (max-width: 1024px) {
  .services-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; }
  .service-item {
    margin-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .reverse {
    margin-right: 0px; }
  .reverse .phone-img {
    -webkit-transform: rotate(12deg) translate(3px, 50px);
    -ms-transform: rotate(12deg) translate(3px, 50px);
    transform: rotate(12deg) translate(3px, 50px); }
  .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background: url(../img/circle-img.svg) no-repeat;
    background-position: center; }
  .phone-img {
    padding: 0;
    -webkit-transform: translate(-3px, 49px);
    -ms-transform: translate(-3px, 49px);
    transform: translate(-3px, 49px); }
  .right {
    margin-top: 25px;
    margin-left: 0px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%; } }

.teams {
  height: 100vh; }

.teams-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }

.teams-wrapper .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 50%; }

.distortion {
  width: 400px;
  height: 500px;
  z-index: 3; }

.teams-list {
  margin-top: 43px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #6c6c6c;
  width: 60%;
  text-decoration: none; }

.teams-list a {
  text-decoration: none;
  list-style: none;
  color: #6c6c6c; }

.descrip {
  margin-top: 40px;
  width: 550px; }
